# DOCKER IMAGE
PYTHON_VERSION= # e.g. 3.7-buster
POSTGRES_VERSION= # e.g. 13-alpine
NODE_VERSION= # e.g. 14.4.0
NGINX_VERSION= # e.g. 1.18
REDIS_VERSION= # e.g. 6.0.6

OWNER_NAME= # e.g. JD
VERSION_NUMBER= #e.g. 0.8

LETSENCRYPT_DOMAIN= # e.g. dev.loc

# API_PORT=5005